@font-face {
    font-family: "SUIT";
    font-weight: 100;
    src: url(../../HeirofLightRegular.woff) format("woff2");
  }

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Light'), url(../../woff2/Pretendard-Light.woff2) format('woff2'), url(../../woff2/Pretendard-Light.woff) format('woff');
}
@font-face {
	font-family: 'MOLIKA';
	font-weight: 900;
	font-display: swap;
	src: url(../woff2/MOLIKA.woff2) format("woff2");
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'SIMPLECANDY';
	font-weight: 900;
	font-display: swap;
	src: url(../../woff2/SIMPLECANDY.woff) format("woff");
}


body {
    margin: 0;
    padding: 0;
    background-image: url('../../img/background.png');
    background-size: cover; /* 화면에 맞게 이미지 크기 조정 */
    background-position: center; /* 이미지의 중앙을 기준으로 배치 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-attachment: fixed; /* 스크롤에도 배경 고정 */
    height: 100vh; /* 화면 전체 높이를 차지 */
    overflow-y: hidden;
    color: white;
}

/* 스크롤바의 폭 너비 */
.square01::-webkit-scrollbar {
    width: 10px;  
}

.square01::-webkit-scrollbar-thumb {
    background: #35404b; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.square01::-webkit-scrollbar-track {
    background: #000000;  /*스크롤바 뒷 배경 색상*/
}
/* 오른쪽 사이드바*/
.side-bar2 {
    float: left;
    position: fixed; /* 고정 위치 */
    z-index: 40; /* 다른 요소 위에 표시 */
    top: 0; /* 상단에 고정 */
    left: 0; /* 오른쪽에 고정 */
    overflow-x: hidden; /* 수평 스크롤 숨기기 */
    width: 12%; /* 너비: 20% */
    min-height: 100vh; /* 최소 높이: 전체 화면 */
    display: flex; /* 플렉스박스 설정 */
    flex-direction: column; /* 세로로 나열 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.side-bar2 img {
    max-width: 20%; /* 이미지 너비 조정 */
    padding-top: 50px;
    margin-left: 17px;
    height: auto;
    justify-content: space-between;
}
.side-bar2 img:first-child {
    margin-top: 0; /* 첫 번째 이미지는 간격 제거 */
}

.main {
    flex-direction: row;
    display: flex; /* 플렉스 박스 사용 */
    width: 100%;
    margin: 0; /* 여백 없애기 */
}
.main_t{
    width:100%;
    border-collapse: collapse; /* 셀 간의 간격 제거 */
    border-spacing: 0;
}
.main_t td{
    width: 50%
}
.full {
    width: 100%; /* 너비 설정 */
    height: auto; /* 높이 자동 */
    max-height: 100vh; /* 최대 높이를 화면 높이에 맞추기 */
    object-fit: cover; /* 비율 유지하면서 오버플로우된 부분 자르기 */
    object-position: top; /* 이미지가 위쪽부터 시작 */
    position: sticky;
    top: 0; /* 위쪽에 고정 */
    right: 0; /* 오른쪽에 고정 */
    left: auto; /* 왼쪽 간섭 방지 */
    margin: 0; /* 여백 제거 */
    overflow: hidden; /* 오버플로우된 부분 숨기기 */
    display: block; /* 여백 없이 정렬 */
    z-index: 1;
}

.skin {
    top: 0; /* 위쪽에 붙이기 */
    right: 0;
    position: relative;
    width: 100%; /* 최대 너비 100%로 설정하여 화면 너비에 맞추기 */
    height: auto; /* 높이 자동 */
    align-items: center; 
    position: relative; /* 자식 요소의 절대 위치를 위해 상대적으로 설정 */
}

.square {
    position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
    top: 0; /* 위쪽에 붙이기 */
    right: 0; /* 오른쪽에 붙이기 */
    width: 150px; /* 원하는 가로 크기 */
    height: 200px; /* 원하는 세로 크기 */
    text-align: center;
    text-indent: 0.1em;
    border-radius: 16px; 
    background-color: rgba(255, 255, 255, 0.4); /* 반투명 배경색 (여기서는 흰색, 투명도 0.7) */
    margin: 20px;
    overflow: hidden;
}

.left {
    position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
    width: auto; /* 너비 자동 설정 */
    height: 100%; /* 높이를 부모에 맞춤 */
    top: 0; /* 위쪽에 붙이기 */
    right: 0; /* 오른쪽에 붙이기 */
    z-index: 2; /* 겹쳐서 보이도록 z-index 설정 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transform: translateX(12%); /* 이미지의 중앙을 기준으로 이동 */
}
.square01 {
    z-index: 10;
    width: 100%; /* 너비를 50%로 설정 */
    height: 100vh; /* 화면 전체 높이를 차지 */
    background-color: #333435;
    background: linear-gradient(#333435, black);
    overflow: auto; /* 스크롤 기능 활성화 */
    z-index: 2;
}

/* 상해가능정도 */

.thro {
    top:150px;
    position: relative; /* 부모 요소를 상대적으로 설정 */
    width: 100%; /* 너비 설정 */
    height: 170px; /* 높이 자동 */
    overflow: hidden;
    margin: 0 auto; /* 부모 요소를 가운데 정렬 */
    background-color: #9AACC3;

}
.thro h1 {
    font-family: 'MOLIKA'; /* 글꼴 설정 */
    font-size: 55px; /* 글꼴 크기 설정 */
    padding-top: 17px;
    padding-left: 40px;
    color: white;
}
.thro img {
    position: absolute; /* 부모 요소에 대해 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    width: auto; /* 너비 100%로 설정 */
    height: 100%;
    transform: translate(-50%, -50%); /* 이미지의 중심을 기준으로 이동 */
}
.gradient-overlay {
    position: absolute; /* 부모 요소를 기준으로 위치 설정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(154, 172, 195, 1) 10%, rgba(255, 255, 255, 0) 100%); /* 색이 섞이는 부분을 더 짧게 설정 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
}

/* background-color: #333435;  */

.table {
    font-family: 'Pretendard';
    font-size: 13px;
    width: 80%; /* 테이블 전체 너비를 화면 가득 채우기 */
    margin: 0 auto; /* 가운데 정렬 */
    color: white;
    border-collapse: collapse; /* 셀 간의 간격 제거 */
    border-spacing: 0; /* 셀 사이의 틈 없애기 */
}

/* 테이블 셀 기본 스타일 */
.table td, .table th {
    color: white; /* 기본 텍스트 색상 */
    text-align: justify;
    text-align: center;
 /* 각 셀의 하단에 경계선 추가 */
}
/* .colspan-cell에 대한 추가 스타일 */
.table .colspan-cell {
    padding: 13px 0px;
    text-align: justify;
}

/* .bottom tr에만 적용될 추가 스타일 */
.table .bottom td, .table .bottom th {
    border-bottom: 2px solid white; /* 하단 경계선만 적용 */
}
.flex-container {
    display: flex; /* 플렉스박스를 사용하여 가로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: flex-start; /* 텍스트는 이미지 오른쪽에 배치 */
    font-size: 16px;
}
.custom-hr {
    border: none; /* 기본 경계 제거 */
    border-top: 2px solid white; /* 원하는 두께와 색상으로 상단 경계선 추가 */
    margin: 0; /* 위아래 여백 */
    padding-bottom: 5px;
    width: 100%; /* 선 너비 조절 */
}
.custom-hr2 {
    border: none; /* 기본 경계 제거 */
    border-top: 2px solid white; /* 원하는 두께와 색상으로 상단 경계선 추가 */
    margin: 0; /* 위아래 여백 */
    margin-top: 20px;
    padding-bottom: 5px;
    width: 100%; /* 선 너비 조절 */
}

.name{
    padding-left: 10px; 
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}
.circle {
    width: 100px;   /* 원의 너비 */
    height: 30px;  /* 원의 높이 */
    color: white;   /* 텍스트 색상 */
    border-radius: 12px; /* 원 모양 */
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;  /* 수직 중앙 정렬 */
    text-align: center;  /* 텍스트 중앙 정렬 */
    font-weight: bold;  /* 텍스트 굵게 */
    margin: 0 auto;  /* 중앙 정렬 */
    border: 1px solid white;
}
.table1 {
    font-family: 'Pretendard';
    font-size: 13px;
    width: 100%; /* 테이블 전체 너비를 화면 가득 채우기 */
    margin: 0 auto; /* 가운데 정렬 */
    color: white;
    border-collapse: collapse; /* 셀 간의 간격 제거 */
    border-spacing: 0; /* 셀 사이의 틈 없애기 */
}

/* 테이블 셀 스타일 */
.table1 td, .table1 th {
    color: white;
    text-align: center;
    padding: 0; /* 여백 제거 */
}

/* .colspan-cell의 padding 제거 */
.table1 .colspan-cell {
    padding: 0;
    width: 20%;
}

/* .circle2 스타일 조정 */
.circle2 {
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    margin: 3px;
    margin-left: 20px;
    padding: 0;
}
.circle3 {
    width: 110px;
    height: 150px;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    margin: 5px;
    margin-left: 20px;
    padding: 0;
}

/* 각 텍스트에 대한 스타일 */

.catch{
    font-family: "Pretendard";
    font-size: 20px; /* 텍스트 크기 */
    margin-top: 360%; /* 위간격만 적용 */
    line-height: 0;
}

.santence {
    font-family: "Pretendard";
    font-size: 30px; /* 텍스트 크기 */
    margin-top: 100px; /* 위간격만 적용 */
    padding-bottom: 100px;
    line-height:70px;
    font-weight: bold;
}
.thing {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    width: 80%;
    margin: 0 auto; /* 수평 중앙 배치 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
.category {
    font-family: "Pretendard";
    font-size: 20px; /* 텍스트 크기 */
    padding-top: 60px; /* 위간격만 적용 */
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.detail{
    font-family: 'Pretendard';
    font-size: 15px; /* 텍스트 크기 */
    line-height: 30px;
    margin-top: 40px; /* 위간격만 적용 */
    text-align: justify;
}
.keyword{
    font-family: 'Pretendard';
    font-size: 18px; /* 텍스트 크기 */
    line-height: 30px;
    margin-top: 20px; /* 위간격만 적용 */
    text-align: center;
}

.ect{
    font-family: 'Pretendard';
    color: #9AACC3;
    font-size: 15px; /* 텍스트 크기 */
    line-height: 30px;
    margin-top: 20px; /* 위간격만 적용 */
    text-align: center;
}
